root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{html,js,scss,rb,erb}]
indent_size = 2

[Gemfile*]
indent_size = 2

[Rakefile]
indent_size = 2

[*.md]
indent_size = 4
trim_trailing_whitespace = false
