<div class="container">
  <div class="row">
    <div class="section">
      <%= form_for @resume_entry,
                   url: student_resume_entry_path(current_account.student_id, @resume_entry) do |f| %>
        <%= render "form", f: f, entry: @resume_entry, button_text: "Update" %>
      <% end %>
    </div>
  </div>
</div>
