<div class="container">
  <div class="row">
    <%= render "profile/header", account: @student.account %>
  </div>

  <div class="row">
    <%= render "students/body", student: @student %>
  </div>
</div>
