<div class="navbar-fixed">
<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">
      <%= image_tag("working-scholar-logo.svg", alt: "WorkingScholar logo", class: "logo-icon") %>
      <div class="logo-text">
        WorkingScholar
      </div>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="btn-flat disabled" href="#team">TEAM</a></li>
      <li><a class="btn-flat disabled" href="#why">WHY</a></li>
      <li><a class="btn-flat disabled" href="#what">WHAT</a></li>
      <li><a class="btn-flat disabled" href="#how">HOW</a></li>
      <li><a class="btn-flat disabled">TRY</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
  <div class="row">
    <div class="col s12">This div is 12-columns wide</div>
  </div>
</nav>

</div>
