<div class="collection">
  <a class="collection-item" href="https://www.linkedin.com/company/2415735" target="_blank">
    <i class="fa fa-linkedin-square"></i> LinkedIn
  </a>

  <a class="collection-item" href="https://www.facebook.com/CapeConstruction2001?fref=ts" target="_blank">
    <i class="fa fa-facebook-square"></i> Facebook
  </a>
  <a class="collection-item" href="https://twitter.com/CapeConstruct" target="_blank">
    <i class="fa fa-twitter-square"></i> Twitter
  </a>
</div>
