<div class="row">
  <div class="section">
    <div class="col s4">
      <h5 class="red-text darken-2">Delete Account</h5>
      <label><strong>Warning</strong>: Deleting your account is irreversible</label>
    </div>
    <div class="col s6">
      <%= button_to account_path,
                    data: { confirm: "Are you sure you want to delete your account?" },
                    method: :delete,
                    class: "red darken-2 btn waves-effect waves-light",
                    style: "margin-top: 15px" do %>
        Delete Account<i class="mdi-action-highlight-remove right"></i>
      <% end %>
    </div>
  </div>
</div>
