<div class="row">
  <h5>Edit <%= resource_name.to_s.humanize %></h5>
</div>

<div class="row">
  <%= form_for resource,
    as: resource_name,
    url: profile_path(current_account.username),
    html: { method: :put } do |f| %>
    <%= devise_error_messages! %>

    <%= render "form", f: f, resource: resource, button_text: "Update" %>

  <% end %>
</div>
