<div class ="hero">
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center text-lighten-2">Micro-Consultancy</h1>
      <h3 class="center">Tagline</h3>
      <div class = "started">
      <div class="row center">
        <a href="#" id="download-button" class="btn-large waves-effect waves-light #263238 blue-grey ">I'm a Company</a>
        <a href="#" id="download-button" class="btn-large waves-effect waves-light #263238 blue-grey ">I'm a Student</a>
      </div>
      </div>
      <br><br>
    </div>
  </div>
</div>
</div>

<div class="valign-wrapper">
<section>
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="mdi-action-account-circle"></i></h2>
          <h5 class="center">Item 1</h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit ullam quam, culpa? Optio temporibus deleniti magni quaerat minima dolorem itaque ex quia similique, earum tenetur corrupti eveniet repellat facilis a!</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="mdi-social-group"></i></h2>
          <h5 class="center">Item 2</h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit ullam quam, culpa? Optio temporibus deleniti magni quaerat minima dolorem itaque ex quia similique, earum tenetur corrupti eveniet repellat facilis a!</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="mdi-action-settings"></i></h2>
          <h5 class="center">Item 3</h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit ullam quam, culpa? Optio temporibus deleniti magni quaerat minima dolorem itaque ex quia similique, earum tenetur corrupti eveniet repellat facilis a!</p>
        </div>
      </div>
    </div>
    </div>

</section>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum ipsum hic asperiores odit quos accusantium inventore. Fugit doloribus cupiditate asperiores, quos assumenda earum odio minima? Quisquam voluptates officiis voluptatum ipsam.</h5>
      </div>
    </div>
  </div>
</div>

<div class="valign-wrapper">
<section>
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="mdi-action-account-circle"></i></h2>
          <h5 class="center">Item 1</h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit ullam quam, culpa? Optio temporibus deleniti magni quaerat minima dolorem itaque ex quia similique, earum tenetur corrupti eveniet repellat facilis a!</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="mdi-social-group"></i></h2>
          <h5 class="center">Item 2</h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit ullam quam, culpa? Optio temporibus deleniti magni quaerat minima dolorem itaque ex quia similique, earum tenetur corrupti eveniet repellat facilis a!</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="mdi-action-settings"></i></h2>
          <h5 class="center">Item 3</h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit ullam quam, culpa? Optio temporibus deleniti magni quaerat minima dolorem itaque ex quia similique, earum tenetur corrupti eveniet repellat facilis a!</p>
        </div>
      </div>
    </div>

  </section>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum ipsum hic asperiores odit quos accusantium inventore. Fugit doloribus cupiditate asperiores, quos assumenda earum odio minima? Quisquam voluptates officiis voluptatum ipsam.</h5>
      </div>
    </div>
  </div>
</div>

<div class="why">
<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Why</h4>
        <p class="center-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        <h4 class="learn_more">Learn More About Us!</h4>
        <div class="learn">
        <div class="row">
          <form class="col s12">
            <div class="row ">
              <div class="input-field col s6 ">
                <i class="mdi-action-account-circle prefix"></i>
                <input id="icon_prefix " type="text" class="validate ">
                <label for="icon_prefix ">Full Name</label>
              </div>
              <div class="input-field col s6">
                <i class="mdi-communication-phone prefix"></i>
                <input id="icon_email" type="email" class="validate">
                <label for="icon_email">Email</label>
              </div>
            </div>
          </form>
        </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Contact Us</h5>
      </div>
    </div>
  </div>
</div>
