<div class="section">
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="actions">
    <button class="btn waves-effect waves-light" type="submit" name="action"><%= button_text %>
      <i class="mdi-content-send right"></i>
    </button>
  </div>
</div>
