<div class="section">
<div class="input-field col s12">
  <%= f.text_field :contact_email, class: "validate" %>
  <%= f.label :contact_email %>
</div>
<div class="input-field col s12">
  <div class="actions">
    <button class="btn waves-effect waves-light" type="submit" name="action"><%= button_text %>
      <i class="mdi-content-send right"></i>
    </button>
  </div>
</div>
</div>
