<div class="container">
<table class="hoverable">
  <thead>
    <tr>
      <th>Job Postings</th>
    </tr>
  </thead>
  <tbody>
    <% @postings.each do |posting| %>
      <tr>
        <td><%= posting.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
