<div class="container">
<table class="hoverable">
  <thead>
    <tr>
      <th>Position</th>
      <th>Applicant's Name</th>
      <th>Applicant's Major</th>
      <th>Applicant's Department</th>
      <th>Applicant's School</th>
    </tr>
  </thead>
  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
