<table>
  <tbody>
    <tr>
      <td>Company Name</td>
      <% if employer.name %>
      <td><%= employer.name %></td>
      <% else %>
      <td class="grey-text lighten-2">No information</td>
      <% end %>
    </tr>
    <tr>
      <td>Username</td>
      <% if @employer.username %>
      <td><%= @employer.username %></td>
      <% else %>
      <td class="grey-text lighten-2">No information</td>
      <% end %>
    </tr>
    <tr>
      <td>Email</td>
      <% if @employer.account.email %>
      <td><%= @employer.account.email %></td>
      <% else %>
      <td class="grey-text lighten-2">No information</td>
      <% end %>
    </tr>
  </tbody>
</table>
