<div class="row">
  <div class="col s12">
    <table>
      <tbody>
        <tr>
          <td>Company name</td>
          <% if employer.name %>
            <td><%= employer.name %></td>
          <% else %>
            <td class="grey-text lighten-2">No information</td>
          <% end %>
        </tr>
        <tr>
          <td>Email</td>
          <td><%= employer.email %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
