<div class="container">
<table class="hoverable">
  <thead>
    <tr>
      <th>Company Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @employers.each do |employer| %>
      <tr>
        <td>
          <a href="<%= employer_path employer.username %>">
            <%= employer.name %>
          </a>
        </td>
        <td><%= employer.contact_email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
