<div class="container">
  <div class="row">
    <%= render "profile/header", account: @employer.account %>
  </div>

  <div class="row">
    <%= render "employers/body", employer: @employer %>
  </div>
</div>
