/*** Colors ***/
$primary-color: #FFFFFF;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

// Materialize
$roboto-font-path: "font/roboto/";
$icons-font-path: "font/material-design-icons/";

