/*** Colors ***/
$primary-color: #FFFFFF;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

// Materialize
$roboto-font-path: "//cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/font/roboto/";
$icons-font-path: "//cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/font/material-design-icons/";

