#splash {
  background-image: url("https://unsplash.it/5184/3456?image=48");
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  min-height: 500px;
}

#team {
  padding-bottom: 50px;
}

#why {
  background-image: url("https://unsplash.it/2509/1672?image=581&blur");
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}

#what {
  padding-bottom: 50px;
}

#recently-matched {
  background-image: url("https://unsplash.it/5184/3456?image=48");
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;

  a {
    color: #fff;
    text-decoration: underline;
  }
}

.slider .slides {
  background-color: inherit;
}

.slider .indicators .indicator-item.active {
  background-color: $secondary-color;
}

#how {
  padding-bottom: 50px;
}

#testimonials {
  background-image: url("https://unsplash.it/4133/2745?image=668");
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  margin-bottom: 80px;
}

.headshot img{
  height: 160px;
}
