nav ul a,
nav .brand-logo {
}

a.brand-logo img{
  max-height:100px;
  max-width:100px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

section {
  min-height: 700px;
}

h2 {
  padding-top: 7%;
}

main {
  flex: 1 0 auto;
}

.headshot img{
  height: 160px;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}


.parallax-container {
  min-height: 380px;
  line-height: 0;
  color: rgba(255,255,255,.9);
}

.parallax-container h1 {
  padding-bottom:1%;
}

.parallax-container .section {
  width: 100%;
  background-image: url("https://unsplash.it/5184/3456?image=48");
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

div.hero {
  min-height:100vh;
  width: 100%;
  background-image: url("https://unsplash.it/5184/3456?image=48");
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.learn_more {
  padding: 2%;
}

section.why {
  background-image: url("https://unsplash.it/2509/1672?image=581");
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}

section.why p {
  font-size:24px;
}

.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}
