.card {
  overflow: inherit;
}

a.entry-actions {
  color: $secondary-color;

  &:hover {
    color: lighten($secondary-color, 20%);
  }
}

.entry-heading {
  i {
    margin-right: 5px;
  }

  .company-name {
    float: left;
    margin-right: 20px;
    text-transform: uppercase;
  }

  .duration {
    float: left;
    margin-right: 20px;
  }
}

.entry-body {
  clear: both;
  margin-top: 30px;
}
