<div class="container">
  <div class="row">
    <%= render "header", account: @account %>
  </div>
  <div class="row">
    <% if @account.student %>
      <%= render "students/body", student: @account.student %>
    <% elsif @account.employer %>
      <%= render "employers/body", employer: @account.employer %>
    <% else %>
      <%= render "incomplete" %>
    <% end %>
  </div>
</div>
